body {
    background-color: #330000 ;
    height: 180px;
    width: 200px;
    border: ridge; 
    border-width: 10px ;
    border-height: 10px ;

}

#display
 {
    width: 200px;
    height: 40px;
    background-color:#ffffff;
    font-size:30px;


 }
.number, .calc, #clear, #answer{
    background-color: #3399ff;     
    border:1px solid #606060;
    height: 25px;
    width: 43px;     
    margin-bottom:1.5px;
    margin-left: 1.5px;
    margin-right:1.5px ;
    margin-top:1.5px ;
}
 #answer{
    width: 193px; 
 }

}